<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Toys</title>
</head>
<body>
<div th:switch="${toys}">
    <h2 th:case="null">No toys found!</h2>
    <div th:case="*">
        <h2>Toys</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Count</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="toy : ${toys}">
                <td th:text="${toy.id}"></td>
                <td th:text="${toy.name}"></td>
                <td th:text="${toy.price}"></td>
                <td th:text="${toy.count}"></td>
                <td><a th:href="@{toy-update/{id}(id=${toy.id})}">Edit</a></td>
                <td><a th:href="@{toy-delete/{id}(id=${toy.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/toy-create">Create toy</a></p>
</div>
</body>
</html>